.app.light {
  --bg-color: #cbcbcb;
  --inverted-bg-color: #212121;
  --primary-color: #0a0a0a;
  --secondary-color: #111;
  --inverted-primary-color: #289406;
  --inverted-secondary-color: #4ab629;
}